footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    background-color: #1E408A;
}

footer > .logo > h1 {
    color: white;
}

footer > .contact > * {
    color: white;
}

footer > .menu > * {
    color: white;
}

footer > .social-media > * {
    color: white;
}