<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">

<link rel="stylesheet" href="../../../vendor/boxicons-2.0.7/css/boxicons.min.css">
<link rel="stylesheet" href="../../css/base.css">
<link rel="stylesheet" href="../../css/hero-banner.css">

<header class="hero">
    <div class="hero-content">
        <h1>
            <span>Just in time</span>
            <br>
            <span>No more waiting</span>
        </h1>
        <div class="search-container">
            <input type="text" placeholder="Search for any service" class="hero-input">
            <a href=""><i class='bx bx-search'></i></a>
        </div>
        <a href="">Help me to find</a>
    </div>
</header>

<!-- popular services -->
<section class="mt-5 ps-popular-service-container">
    <div class="ps-popular-service"> <!-- ps = popular service -->
        <a href="#">Web Development</a>
        <a href="#">Graphic Design</a>
        <a href="#">Mobile App Development</a>
        <a href="#">SEO (Search Engine Optimization)</a>
    </div>

    <div class="ps-popular-service">
        <a href="#">Content Writing</a>
        <a href="#">Translation</a>
        <a href="#">Social Media Management</a>
        <a href="#">UI/UX Design</a>
    </div>

    <div class="ps-popular-service">
        <a href="#">Data Analysis</a>
        <a href="#">Software Testing</a>
        <a href="#">Project Management</a>
        <a href="#">Video Editing</a>
    </div>

    <div class="ps-popular-service">
        <a href="#">E-commerce Design</a>
        <a href="#">Editing and Proofreading</a>
        <a href="#">Animation</a>
        <a href="#">Email Marketing</a>
    </div>

    <div class="ps-popular-service">
        <a href="#">Business Consultation</a>
        <a href="#">3D Graphics</a>
        <a href="#">Interior Design</a>
        <a href="#">Website Speed Optimization</a>
    </div>
</section>

<!-- testimoni -->
<section>
    <h2 class="mb-1">What business owner says</h2>
    <div class="testimoni-banner">
        <div class="testimoni-profile"
            style="background-image: url('https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1331&q=80');">
            a</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nostrum voluptatum necessitatibus, ullam ut
            provident laudantium eaque quam corporis dignissimos quo. Tenetur incidunt sint maiores, repudiandae,
            nostrum suscipit laboriosam labore alias maxime adipisci obcaecati similique et impedit laborum dolor cumque
            harum explicabo minima ut veritatis aperiam hic. Fugit, tempora sint?</p>
    </div>
    <div class="testimoni-company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
    </div>
</section>

<!-- professional banner -->
<section class="pb-professional-banner-container">
    <div class="pb-professional-banner">
        <h2 class="mb-0-5">Find out how business owner <br> can recognize you</h2>
        <p class="mb-3">Join Flawless professional</p>
        <a href="#" class="cta-learn-more">Learn More</a>
    </div>
    <img src="../../../public/assets/professional.svg" width="25%" alt="professional">
</section>

<!-- grow -->
<section>
    <h2 class="mb-1">Grow with Flawless</h2>
    <div class="grow-container">
        <div class="grow-card">
            <h4>Web Development</h4>
            <p>Empower your online presence with professionally crafted websites tailored to your needs.</p>
            <a href="#">Learn More</a>
        </div>
        
        <div class="grow-card">
            <h4>Graphic Design</h4>
            <p>Elevate your brand's visual identity with stunning logos, posters, and marketing materials.</p>
            <a href="#">Learn More</a>
        </div>
        
        <div class="grow-card">
            <h4>Mobile App Development</h4>
            <p>Expand your reach by creating mobile apps for Android and iOS platforms.</p>
            <a href="#">Learn More</a>
        </div>
        
        <div class="grow-card">
            <h4>SEO Services</h4>
            <p>Boost your online visibility with effective Search Engine Optimization strategies.</p>
            <a href="#">Learn More</a>
        </div>
        
        <div class="grow-card">
            <h4>Content Writing</h4>
            <p>Capture your audience's attention with engaging and high-quality content.</p>
            <a href="#">Learn More</a>
        </div>
        
        <div class="grow-card">
            <h4>Social Media Management</h4>
            <p>Enhance your online presence and engagement through expert social media management.</p>
            <a href="#">Learn More</a>
        </div>
        
    </div>
</section>

<!-- experimenting -->
<section class="ex-container">
    <div>
        <h2 class="mb-1">First time?</h2>
        <p class="mb-0-5">Trying Flawless for the first time? do not worry, we got you</p>
        <ul class="mb-3">
            <li><i class='bx bx-check'></i> Access to a Variety of Projects</li>
            <li><i class='bx bx-check'></i> Potential Extra Income</li>
            <li><i class='bx bx-check'></i> Flexible Schedule</li>
            <li><i class='bx bx-check'></i> New Experiences</li>
            <li><i class='bx bx-check'></i> Global Connections</li>
            <li><i class='bx bx-check'></i> Continuous Learning</li>
            <li><i class='bx bx-check'></i> Creative Control</li>
        </ul>
        

        <a href="" class="cta-registration">Registration</a>
    </div>
    <img src="../../../public/assets/experimenting.svg" width="25%" alt="experimenting">
</section>

<!-- maestro banner -->
<section class="mb-maestro-banner-container">
    <div class="mb-maestro-banner">
        <h2 class="mb-1">Obsessed with your skills? <br> Want a challenge and to be recognized worldwide?</h2>
        <a href="#" class="cta-learn-more">Learn More</a>
    </div>
    <div>
        <h1 class="text-4xl">Maestro</h1>
        <p>Program by Flawless</p>
    </div>
</section>