<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">

<link rel="stylesheet" href="../../../vendor/boxicons-2.0.7/css/boxicons.min.css">
<link rel="stylesheet" href="../../css/base.css">
<link rel="stylesheet" href="../../css/hero-banner.css">
<link rel="stylesheet" href="../../../vendor/boxicons-2.0.7/css/boxicons.min.css">

<header class="hero">
    <div class="hero-content">
        <h1>
            <span>Just in time</span>
            <br>
            <span>No more waiting</span>
        </h1>
        <div class="search-container">
            <input type="text" placeholder="Search for any service" class="hero-input">
            <a href=""><i class='bx bx-search'></i></a>
        </div>
        <a href="">Help me to find</a>
    </div>
</header>

<!-- popular services -->
<section class="mt-5 ps-popular-service-container">
    <div class="ps-popular-service"> <!-- ps = popular service -->
        <a href="">Web Design</a>
        <a href="">Web Development</a>
        <a href="">...</a>
        <a href="">...</a>
        <a href="">...</a>
        <a href="">...</a>
    </div>

    <div class="ps-popular-service">
        <a href="">Web Design</a>
        <a href="">Web Development</a>
        <a href="">...</a>
        <a href="">...</a>
        <a href="">...</a>
    </div>

    <div class="ps-popular-service">
        <a href="">Web Design</a>
        <a href="">Web Development</a>
        <a href="">...</a>
        <a href="">...</a>
    </div>
</section>

<!-- professional banner -->
<section class="pb-professional-banner-container">
    <div class="pb-professional-banner">
        <h2>Professional Program</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, distinctio?</p>

        <ul>
            <li>Certificate</li>
            <li>Support Priority</li>
        </ul>
    </div>
    <i class='bx bxs-briefcase-alt-2 text-xl text-white'></i>
</section>


<!-- testimoni -->
<section>
    <h2 class="mb-1">What business owner says</h2>
    <div class="testimoni-banner">
        <div class="testimoni-profile" style="background-image: url('https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1331&q=80');">a</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nostrum voluptatum necessitatibus, ullam ut provident laudantium eaque quam corporis dignissimos quo. Tenetur incidunt sint maiores, repudiandae, nostrum suscipit laboriosam labore alias maxime adipisci obcaecati similique et impedit laborum dolor cumque harum explicabo minima ut veritatis aperiam hic. Fugit, tempora sint?</p>
    </div>
    <div class="testimoni-company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="company">
    </div>
</section>